<!DOCTYPE html>
<html lang="en">
<!-- ==============================================================================================================
HEADER
============================================================================================================== -->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jess Doe</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='01_global.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='02_header.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='03_about.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='04_experience.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='05_portfolio.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='06_contact.css') }}">
  </head>
  <div class="header-container">
    <div class="header-logo-container">
      <div class="header-logo-content-container">
        <a href="#about" class="header-logo-content">Jess Doe</a>
      </div>
    </div>
    <div class="header-buttons-container">
      <div class="header-button-container">
        <a href="#contact" class="header-button-content">Contact</a>
      </div>
      <div class="header-button-container">
        <a href="#portfolio" class="header-button-content">Portfolio</a>
      </div>
      <div class="header-button-container">
        <a href="#experience" class="header-button-content">Experience</a>
      </div>
      <div class="header-button-container">
        <a href="#about" class="header-button-content">About</a>
      </div>
    </div>
  </div>

<!-- ==============================================================================================================
ABOUT
============================================================================================================== -->
  <div class="section-container" id="about">
    <div class="about-container">
      <div class="about-left-container">
        <div class="about-left-top">
        </div>
        <div class="about-left-photo">
          <div class="about-left-photo-image-container">
              <img src="static/images/about_profile.png" class="about-profile-image">
          </div>
        </div>
        <div class="about-left-title">
          <div class="about-left-title-content">
            Hardware Product Developer
          </div>
        </div>
        <div class="about-left-logos">
          <div class="about-left-logos-left">
          </div>
          <div class="about-left-logos-right">
            <div class="github-logo-container">
              <a href="https://github.com/jessica-doe" target="_blank"><img src="static/logos/github.png" onmouseover="this.src='static/logos/github_hover.png';" onmouseout="this.src='static/logos/github.png';" class="github-logo"></a>
            </div>
            <div class="linkedin-logo-container">
              <a href="https://www.linkedin.com/in/jessica-doe/" target="_blank"><img src="static/logos/linkedin.png" onmouseover="this.src='static/logos/linkedin_hover.png';" onmouseout="this.src='static/logos/linkedin.png';" class="linkedin-logo"></a>
            </div>
            <div class="instagram-logo-container">
              <a href="https://www.instagram.com/jessd0e/" target="_blank"><img src="static/logos/insta.png" onmouseover="this.src='static/logos/insta_hover.png';" onmouseout="this.src='static/logos/insta.png';" class="instagram-logo"></a>
            </div>
            <div class="youthfully-logo-container">
              <a href="https://app.youthfully.ca/JESS-YXAK" target="_blank"><img src="static/logos/youthfully.png" onmouseover="this.src='static/logos/youthfully_hover.png';" onmouseout="this.src='static/logos/youthfully.png';" class="youthfully-logo"></a>
            </div>
          </div>
        </div>

      </div>
      <div class="about-center-container">
        <div class="about-center-top">
        </div>
        <div class="about-center-middle">

        </div>
        <div class="about-center-bottom">
        </div>
      </div>
      <div class="about-right-container">
        <div class="about-right-top">
        </div>
        <div class="about-right-bottom" style="text-align: justify; text-justify: inter-word;">
          <span style="color:#D6D6D6; font-size: 4vh">Welcome to my online portfolio.</span><br>
          I am a
          <span style="color:#D6D6D6; font-size: 4vh">curious</span>
          and
          <span style="color:#D6D6D6; font-size: 4vh">ambitious</span>
          developer in the realm of hardware. I have a passion for designing
          products from ideation all the way to fruition, as has been proven throughout the past 3+ years
          of my experience in the engineering industry. I am a proud
          <span style="color:#D6D6D6; font-size: 4vh">UWaterloo Engineering</span>
          alumni, a pride which shines especially in my involvement as a Youth Coach.
          This is where I assist aspiring engineering students get into their dream
          schools or guide them through a design project of their own. I am based out of
          <span style="color:#D6D6D6; font-size: 4vh">British Columbia, Canada</span>
          where I get to explore many of my interests, like hiking, water sports,
          hockey, golf, and so much more. <br>
          <span style="color:#D6D6D6; font-size: 4vh">Cheers </span>
          <img src="static/images/clinking-glasses.png" onmouseover="this.src='static/images/clinking-glasses.gif';" onmouseout="this.src='static/images/clinking-glasses.png';" class="static-clinking"></a>
        </div>
      </div>
    </div>
  </div>

<!-- ==============================================================================================================
EXPERIENCE
============================================================================================================== -->
  <div class="section-container" id="experience">
    <div class="experience-content">
      experience
    </div>
  </div>

<!-- ==============================================================================================================
PORTFOLIO
============================================================================================================== -->
  <div class="section-container" id="portfolio">
    <div class="portfolio-content">
      portfolio
    </div>
  </div>

<!-- ==============================================================================================================
CONTACT
============================================================================================================== -->
  <div class="section-container" id="contact">
    <div class="contact-content">
      contact
    </div>
  </div>

</html>