@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.ct-column-40 {
  float: left;
  width: 40%;
}
.ct-column-50 {
  float: left;
  width: 50%;
}
.ct-column-60 {
  float: left;
  width: 60%;
}
.ct-row:after {
  content: "";
  display: table;
  clear: both;
}

.ct-description-title{
  padding-top: 100px;
  padding-left: 250px;
  padding-right: 100px;
  font-size: 2rem;
  color: #092A36;
  font-family: system-ui;
  text-align: center;
}
.ct-description{
  padding-top: 5px;
  padding-left: 250px;
  padding-right: 100px;
  font-size: 1.3rem;
  color: #092A36;
  font-family: system-ui;
  text-align: center;
}
.name-email{
  padding-top: 20px;
  padding-right: 100px;
}
.name-email:after {
  content: "";
  display: table;
  clear: both;
}
.name{
  padding-right: 30px;
}
.subject{
  padding-top: 30px;
  padding-right: 100px;
}
.subject:after {
  content: "";
  display: table;
  clear: both;
}
.message{
  padding-top: 30px;
  padding-right: 100px;
}
.message:after {
  content: "";
  display: table;
  clear: both;
}
.submit {
  padding-right: 96px;
  padding-top: 10px;
}

form label {
  font-size: 1.3rem;
  font-color: #092A36;
  font-family: system-ui;
}
form textarea{
  background-color: #FEF9EF;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #227C9D;
  font-size: 1.1rem;
  resize: none;
  outline: none;
  padding-top: 10px;
  font-family: Roboto;
  color: #092A36;
}
textarea::placeholder{
  color: #092A36;
}
form textarea#name,
form textarea#email,
form textarea#subject{
  height: 21px;
}
form textarea#message{
  height: 85px;
}
textarea::-webkit-scrollbar {
    width: 12px;
}
textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #227C9D;
}

form input#submit {
  background-color: #FFCB77;
  color: #092A36;
  border: none;
  width: 100%;
  height: 45px;
  font-family: system-ui;
  font-size: 1.3rem;
  border-radius: 7px;
}
form input#submit:hover{
  cursor: pointer;
  background-color: #227C9D;
}