@import url('https://fonts.googleapis.com/css?family=Macondo');

.header-container{
    position: fixed;
    width: 79%;
    height: 15vh;
    background-color: #202020;
}

.header-logo-container{
    float: left;
    width: 50%;
    height: 100%
}
.header-logo-content-container{
    height: 100%;
}
.header-logo-content{
    height: 100%;
    color: #3C4567;
    font-size: 12vh;
    font-family: Macondo;
    text-decoration:none;
}

.header-buttons-container{
    float: left;
    width: 50%;
    height: 100%;
}
.header-button-container {
    height: 6vh;
    padding-top: 5vh;
    padding-bottom: 4vh;
    float: right;
    padding-left: 4%;
}
.header-button-content {
    color: #D6D6D6;
    text-decoration: none;
}
.header-button-content:hover {
  color: #3C4567;
}