.about-container{
    height: 100%;
    width: 100%;
}

.about-left-container{
    float: left;
    width: 40.5%;
    height: 100%;
}
.about-left-top{
    height: 8%;
}
.about-left-photo{
    padding-top: 4%;
    padding-right: 4%;
    border-radius: 20px 20px 0px 0px;
    background-color: #3C4567;
    height: 55%;
}
.about-left-photo-image-container{
    height: 100%;
    width: 100%;
}
.about-profile-image{
    float: right;
    height: 100%;
    border-radius: 25px;
}
.about-left-title{
    padding-right: 4%;
    background-color: #3C4567;
    height: 8%;
}
.about-left-title-content{
    font-size: 5vh;
    float: right;
}
.about-left-logos{
    padding-right: 4%;
    background-color: #3C4567;
    height: 5%;
    padding-bottom: 4%;
    border-radius: 0px 0px 20px 20px;
}
.about-left-logos-left{
    float: left;
    width: 67%;
    height: 100%;
}
.about-left-logos-right{
    float: left;
    width: 32%;
    height: 100%;
}
.github-logo-container{
    float: left;
    width: 25%;
    height: 100%;
}
.github-logo{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 19%;
    padding-right: 19%;
    width: 62%;
    height: 90%;
}
.linkedin-logo-container{
    float: left;
    width: 25%;
    height: 100%;
}
.linkedin-logo{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 19%;
    padding-right: 19%;
    width: 62%;
    height: 90%;
}
.instagram-logo-container{
    float: left;
    width: 25%;
    height: 100%;
}
.instagram-logo{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 19%;
    padding-right: 19%;
    width: 62%;
    height: 90%;
}
.youthfully-logo-container{
    float: left;
    width: 25%;
    height: 100%;
}
.youthfully-logo{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 19%;
    padding-right: 19%;
    width: 62%;
    height: 90%;
}

.about-center-container{
    float: left;
    width: 5%;
    height: 100%;
}

.about-right-container{
    float: left;
    width: 54.5%;
    height: 100%;
}
.about-right-top{
    height: 15%;
}
.about-right-bottom{
    color: #848584;
    font-size: 3vh;
}
.static-clinking{
    height: 5vh;
}